.App{
    padding: 50px;
}


.buttons{
}

.scoreboard{
    width: 140px;
    height: 30px;
    background-color: whitesmoke;
    text-align: center;
}

.result{
    padding: 5px;
    border: 2px solid black;
}


button{
    min-width: 70px;
    min-height: 30px;
    padding: 8px 16px;
}


.button-reset{
    background: darkcyan;
}


.inc-reset{
    background: plum;
}

.defResult{
    color: black;
}


.redResult{
    color: red;
    font-weight: bold;
}

button:disabled{
    opacity: 65%;
    background-color: grey;
}