.App{
    padding: 50px;
    display: flex;
}


.buttons{
    margin: auto;
}

.scoreboard{
    height: 67px;
    padding: 10px;
    border-radius: 10px;
    border: blue solid 2px;
/*    margin: 5px;*/
    margin: 5px auto;
    background-color: #eaf0f9;
    text-align: center;
    font-size: 40px;
}

.result{

}


button{
    margin: 5px;
    border-radius: 10px;
    border: blue solid 2px;
    min-width: 70px;
    min-height: 30px;
    padding: 8px 16px;
}


.button-reset{
    background: red;
}


.inc-reset{
    background: dodgerblue;
}

.defResult{
    color: black;
    margin-top: 10px;
}


.redResult{
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

button:disabled{
    opacity: 65%;
    background-color: grey;
}

.counter{
    margin: 5px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: solid 2px blue;
}

.settingValue{
    margin: 5px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: solid 2px blue;
}

.values{
    margin: 5px;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: solid 2px blue;
}

.divValue{
 width: 100px;

}
.value{
    display: flex;
    margin: 5px;
}

.input{
}