.App{
    padding: 50px;
}


.buttons{
}

.scoreboard{
    padding: 10px;
    border-radius: 10px;
    border: blue solid 2px;
    margin: 5px;
    background-color: lightblue;
    text-align: center;
}

.result{
}


button{
    margin: 5px;
    border-radius: 10px;
    border: blue solid 2px;
    min-width: 70px;
    min-height: 30px;
    padding: 8px 16px;
}


.button-reset{
    background: red;
}


.inc-reset{
    background: dodgerblue;
}

.defResult{
    color: black;
}


.redResult{
    color: red;
    font-weight: bold;
}

button:disabled{
    opacity: 65%;
    background-color: grey;
}

.counter{
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: solid 2px blue;


}